<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packagePath}.${className}">

    <!-- 可根据自己的需求，是否要使用 -->
    <sql id="tableName">${tableName}</sql>

    <resultMap type="${packagePath}.${className}" id="${classname}Map">
    #foreach($column in $columns)
    <result property="${column.attrname}" column="${column.columnName}"/>
    #end
    </resultMap>

    <insert id="insert${className}" parameterType="${packagePath}.${className}">
        insert into
        <include refid="tableName"/>
        (#foreach($column in $columns)#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')`$column.columnName`#if($velocityCount != $columns.size()), #end#end#end)
        values
        (#foreach($column in $columns)#if($column.columnName != $pk.columnName || $pk.extra != 'auto_increment')#{$column.attrname}#if($velocityCount != $columns.size()), #end#end#end)
    </insert>

    <update id="update${className}" parameterType="${packagePath}.${className}">
        update
        <include refid="tableName"/>
        <set>
        #foreach($column in $columns)
        #if($column.columnName != $pk.columnName)
        <if test="$column.attrname != null">`$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()), #end</if>
        #end
        #end
        </set>
        where ${pk.columnName} = #{${pk.attrname}}
    </update>

    <delete id="delete${className}ById">
        delete from
        <include refid="tableName"/>
        where ${pk.columnName} = #{value}
    </delete>

    <delete id="delete${className}ByIds">
        delete from
        <include refid="tableName"/>
        where ${pk.columnName} in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="get${className}ById" resultType="${packagePath}.${className}">
        select * from
        <include refid="tableName"/>
        where ${pk.columnName} = #{value}
    </select>

    <select id="get${className}ByIds" resultType="${packagePath}.${className}">
        select * from
        <include refid="tableName"/>
        where ${pk.columnName} in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="query${className}ByParam" resultType="${packagePath}.${className}">
        select * from
        <include refid="tableName"/>
        where 1=1
    </select>

</mapper>